@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$border-dark: 1px solid rgb(85, 84, 84);

.testColor{
    color: blue;
}

// root styles
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    background: rgb(31, 30, 30);
}

.siteContainer{
    background: rgb(43, 42, 42);
    max-width: 500px;
    margin: 2rem auto 0 auto;
    padding: 1rem;
    border-radius: 10px;
    border: $border-dark;
    text-align: center;
}

.buttonContainer{
    margin: 1rem 0 1rem 0;
    .sectionChangerBtn{
        font-size: 16px;
        min-width: 167px;
        padding: 0.3rem 0.8rem;
        border-radius: 8px;
        color: white;
        border: $border-dark;
        cursor: pointer;
        background: transparent;
        transition: background 0.2s ease-in;

        &:hover{
            background:rgb(54, 53, 53) ;
        }
    }
}


.appTitle{
    text-align: center;
    color: white;

}

.addTasksContainer{
    display: inline-flex;

    .addTaskBtn{
        border: $border-dark;
        border-left: none;
        border-radius: 0 3px 3px 0;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        background: rgb(53, 52, 52);
        padding: 0.2rem 0.3rem;
        color: white;
        cursor: pointer;
        text-align: center;
        transition: background 0.2s ease-in;

        img{
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(298deg) brightness(105%) contrast(103%);
        }

        &:hover{
            background:rgb(54, 53, 53) ;
        }
    }

    .taskInput{
        border: $border-dark;
        border-right: none;
        border-radius: 3px 0 0 3px;
        background: rgb(43, 42, 42);
        color: white;

        padding: 0.3rem 0.2rem;
        &:focus{
            outline: none;
        }
    }
}

.tasksContainer{
    max-width: 500px;
    margin: 2rem auto 0 auto;
}


// card styles
